.pokemons-pagination {
    .pokemons-search {
        max-width: 250px;
        margin-left: auto;
        margin: 20px 0 20px auto;
    }

    .pokemons-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .pokemon-item {
            border-radius: 10px;
            box-shadow: 0 1px 3px 0 rgb(27 27 27 / 20%), 0 4px 8px 0 rgb(27 27 27 / 10%);
            margin-bottom: 20px;
        }
        .pokemon-name {
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}
