.footer {
    background-color: #7b0000;
    width: 100%;

    .footer-container {
        padding: 20px;
        max-width: 1100px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

        .footer-title {
            color: #fff231;
            cursor: pointer;
            text-decoration: none;
            margin-right: auto;
        }
    }
}