<div class="pokemons-pagination">
    <app-paginator
      [currentPage]="paginatorState.page"
      [rowsPerPageOptions]="pageSizes"
      [rows]="paginatorState.rows"
      [totalRecords]="paginatedPokemons?.count"
      (onPageChange)="onPageChanged($event)"
    ></app-paginator>

    <div class="pokemons-search">
        <input class="form-control" type="text" placeholder="Search pokemon by name" [formControl]="query">
    </div>
    
    <div class="pokemons-list">
        <div *ngFor="let pokemon of displayPokemons" class="pokemon-item">
            <img alt="{{pokemon.image}}" [src]="pokemon.image" width="200" height="200">
            <p class="pokemon-name">{{pokemon.name | titlecase}}</p>
        </div>
    </div>
</div>