<ng-container *ngIf="pokemonsList$ | async as pokemonsList">
    <div class="home">
        <!-- <carousel [noWrap]="false" [interval]="false" [isAnimated]="true">
            <slide>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/D0zYJ1RQ-fs" frameborder="0"
                    allowfullscreen></iframe>
            </slide>
            <slide>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/1roy4o4tqQM" frameborder="0"
                    allowfullscreen></iframe>
            </slide>
            <slide>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/bILE5BEyhdo" frameborder="0"
                    allowfullscreen></iframe>
            </slide>
            <slide>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/uBYORdr_TY8" frameborder="0"
                    allowfullscreen></iframe>
            </slide>
        </carousel> -->
        <div class="home-pokemons">
            <span *ngIf="isLoading$ | async; else loaded">Loading</span>
            <ng-template #loaded>
                <ng-container *ngIf="pokemonsList.length">
                    <div class="pokemons-load-more">
                        <a [routerLink]="['/pokemons']">See more
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                    <div class="pokemons-list">
                        <div *ngFor="let pokemon of pokemonsList" class="pokemon-item">
                            <img alt="{{pokemon.name}}" [src]="pokemon.image" width="200" height="200">
                            <p class="pokemon-name">{{pokemon.name | titlecase}}</p>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </div>
    </div>
</ng-container>